@font-face {
    font-family: 'alimamaEastLess';
    src: url('alimamaEastLess.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: "alimamaEastLess";
}

body{
    margin:0;
    border:0;
    overflow:hidden;
}

#container{
    position:fixed;
    width:100%;
    height:100%;
}

button{
    border:none !important;
    outline:none !important;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg{
    background-color:#040720;
}

.moon-box,
.heart-box{
    position:relative;
}

.moon-box{
    height:100%;
}

.heart-box{
    height: 0;
}

.moon{
    margin:0;
    padding:0;
    position:absolute;
    top:48%;
    left:50%;
    width:510px;
    height:510px;
    box-shadow:136px 153px 0 cyan;
    transform: translate(calc(-50% + -136px),calc(-50% + -153px));
    border-radius: 50%;
} 

.heart{
    position: absolute;
    left:calc(50% - 300px);
    top:311px;
    width:300px;
    height:480px;
    background:red;
    border-radius: 320px 320px 0;
    transform-origin: 100% 100%;
    transform: rotate(45deg);
}

.heart::before{
    content: "";
    position: absolute;
    top:-300px;
    width:300px;
    height:480px;
    background:red;
    border-radius: 320px 320px 0;
    transform-origin: bottom right;
    transform: rotate(-90deg);
}

.sea{
    position:absolute;
    bottom:0;
    width:100%;
    height:35%;
    backdrop-filter: blur(85px);
    -webkit-backdrop-filter: blur(85px);
    z-index:100;
}

.heart,
.moon,
.moon-box,
.heart-box,
.bg{
    /* 添加动画过渡 */
    transition: all 1s ease-in-out;
}

body .c2{
    position:relative;
    display:block;
    z-index:1;
    margin:4px 0;
    width:66px;
    height:33px;
    cursor:pointer;
    border-radius:33px;
    background-color:#222;
    float:left;
    box-shadow: inset 0 2px 13px rgba(0, 0, 0, 0.2),
        inset 0 2px 2px rgba(0, 0, 0, 0.2),
        inset 0 -1px 1px rgba(0, 0, 0, 0.2);
    transition:0.5s;
} 

body .indicator{
    position:absolute;
    display:block;
    z-index:2;
    width:33px;
    height:33px;
    left:0;
    top:4px;
    border-radius:33px;
    transform:scale(0.9);
    pointer-events:none;
    background:linear-gradient(to bottom,#444,#222);
    box-shadow:inset 0 2px 4px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.1);
    transition:1s;
}

body .indicator::before{
    content:"";
    position:absolute;
    left:50%;
    top:50%;
    width:4px;
    height:4px;
    transform:translate(-50%,-50%);
    pointer-events:none;
    display:block;
    border-radius:50%;
    background-color:#f00;
    box-shadow:0 0 2px #f00,
        0 0 5px #f00,
        0 0 10px #f00,
        0 0 15px #f00,
        0 0 20px #f00,
        0 0 25px #f00,
        0 0 30px #f00,
        0 0 35px #f00;
    transition:0.5s;
}

body .transmark:checked~.c2{
    background-color: rgba(255, 255, 255, 0.3);
}

body .transmark:checked~.indicator{
    left:33px;
}

body .transmark:checked~.indicator::before{
    background-color:#0f0;
    box-shadow:0 0 2px #0f0,
        0 0 5px #0f0,
        0 0 10px #0f0,
        0 0 15px #0f0,
        0 0 20px #0f0,
        0 0 25px #0f0,
        0 0 30px #0f0,
        0 0 35px #0f0;
}

body .transmark:checked~.trans .bg{
    background-color: pink;
}

body .transmark:checked~.trans .moon-box{
    height:0;
    transform:rotate(-90deg);
    transform-origin:-10px -10px;
}

body .transmark:checked~.trans .heart-box{
    height:100%;
}

body .transmark:checked~.trans .heart-box .heart{
    top:calc(70% - 480px);
}


.form-box{
    z-index:200;
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    bottom:50%;
    left:50%;
    width:340px;
    height:468px;
    transform:translate(-50%,50%);
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(17px);
    border-radius:13px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    transition:1s;
}
.form-box .tip1{
    cursor:default;
    color:#fff;
    font-size:38px;
    font-weight:bold;
    letter-spacing:8.5px;
    text-transform: uppercase;
    text-indent:8.5px;
    margin:76.5px auto 42.5px auto;
}

.form-box input{
    width:300px;
    height:30px;
    font-size:14.5px;
    background:transparent;
    text-indent:6.8px;
    border:none;
    border-bottom:1px solid rgba(255,255,255,0.8);
    margin:13px auto;
    color:#fff;
}

.form-box input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: "alimamaEastLess";
}

.form-box button{
    width:300px;
    height:38px;
    margin:30px auto 30px auto;
    border:none;
    background:#00addd;
    color:#fff;
    border-radius: 6.5px;
    font-family: "alimamaEastLess";
    font-size:17px;
    font-weight:400;
    cursor:pointer;
    letter-spacing: 17px;
    text-indent:17px;
    transition:0.5s;
}

.form-box button:hover{
    letter-spacing: 43px;
    text-indent: 38px;
    background: #0098d4;
}

.form-box .question {
    font-size: 17px;
    text-indent: 10px;
}

.search {
    font-size: 17px;
    color: red;
}

.search:hover {
    text-decoration: underline;
}

.sign-box{
    z-index:200;
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    top:150%;
    left:50%;
    width:340px;
    height:490px;
    transform:translate(-50%,-50%);
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(17px);
    border-radius:13px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    transition:1s;
}
.sign-box .tip{
    cursor:default;
    color:#fff;
    font-size:45px;
    font-weight:bold;
    letter-spacing:10px;
    text-indent:10px;
    margin:76.5px auto 42.5px auto;
}

.sign-box input{
    width:300px;
    height:30px;
    font-size:14.5px;
    background:transparent;
    text-indent:6.8px;
    border:none;
    border-bottom:1px solid rgba(255,255,255,0.8);
    margin:13px auto;
    outline:nine;
    color:#fff;
}

.sign-box input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: "alimamaEastLess";
}

.sign-box button{
    width:300px;
    height:38px;
    margin:30px auto 15px auto;
    border:none;
    background:#00addd;
    color:#fff;
    border-radius: 6.5px;
    font-family: "alimamaEastLess";
    font-size:17px;
    font-weight:400;
    cursor:pointer;
    letter-spacing: 17px;
    text-indent:17px;
    transition:0.5s;
}

.sign-box button:hover{
    letter-spacing: 43px;
    text-indent: 38px;
    background: #0098d4;
}

#back {
    font-size: 17px;
    color: black;
}

.back-btn:hover {
    text-decoration: underline;
}

#delete{
    font-size: 17px;
    color: red;
}

#delete:hover {
    text-decoration: underline;
    cursor:default;
}

.sign-box .tip:hover{
    text-shadow:0 0 8px #fff,
        0 0 16px #fff,
        0 0 32px #fff,
        0 0 64px #fff,
        0 0 96px #fff,
        0 0 128px #fff;
}

@media screen and (min-aspect-ratio:1/1){
    .myIntro{
        z-index:200;
        position:fixed;
        display:flex;
        flex-direction: column;
        align-items: center;
        pointer-events: all;
        bottom:150%;
        left:50%;
        width:900px;
        height:700px;
        transform:translate(-50%,50%);
        background-color:white;
        backdrop-filter: blur(34px);
        border-radius:25px;
        border-top: 2px solid rgba(255, 255, 255, 0.5);
        border-left: 2px solid rgba(255, 255, 255, 0.5);
        transition:1s;
    }
    .myIntro h1{
        font-size:50px;
    }
    .myIntro ul{
        font-size:25px;
        font-style:italic;
    }
    
}

@media screen and (max-aspect-ratio:1/1){
    .myIntro{
        z-index:200;
        position:fixed;
        display:flex;
        flex-direction: column;
        align-items: center;
        pointer-events: all;
        bottom:150%;
        left:50%;
        width:340px;
        height:608px;
        transform:translate(-50%,50%);
        background-color:white;
        backdrop-filter: blur(17px);
        border-radius:13px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        transition:1s;
    }
    .myIntro h1{
        font-size:40px;
    }
    .myIntro ul{
        font-size:18px;
        font-style:italic;
    }
}

.myIntro{
    font-family:"alimamaEastLess";
    text-align: center;
    font-style: normal;
}

.myIntro .backnext{
    display:block;
    margin:0;
    padding:0;
    position:absolute;
    cursor:default;
    top:100%;
    left:50%;
    transform: translate(-50%,-120%);
    font-size:40px;
    text-align:center;
}

.myIntro .backnext:hover{
    text-decoration: underline;
}




 




    
   
